// use imports inside this class to wrap all component css with component named class
// Main Base
@import 'partials/app-base.scss';

// Nav and Router
// @import 'components/router.scss';
// @import 'components/main-nav.scss';

// Components 
@import "components/_header";
@import "components/_footer";

// Animations and transitions

.home { 
  @extend .d-flex;

  width: 100%;
  padding-bottom: 20px;
  background-color: theme-color('primary');

  &-content {
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-lg-row;
    @extend .flex-lg-wrap;

    overflow:hidden;
  }


  &-item {
    
    @extend .col-12;
    @extend .col-lg-6;
    @extend .d-lg-flex;
    @extend .flex-lg-row;

    &-image {

      @extend .d-flex;
      @extend .flex-column;
      @extend .align-content-stretch;
      @extend .align-items-center;
      @extend .col-lg-8;
      @extend .col-xl-9;

      position: relative;
      background-color: $black;
      overflow: hidden;
      height: 350px;
      z-index: 0;

      @include media-breakpoint-up(sm) {  }
      @include media-breakpoint-up(md) {  }
      @include media-breakpoint-up(lg) {  }
      @include media-breakpoint-up(xl) {  }

      .logo {
        position: absolute;
        height: 96%;
        top: 2%;
        left: 2%;
        right: 2%;
        bottom: 2%;
        width: 96%;
      }
      &-top { 
        @extend .d-flex;
        @extend .align-content-stretch;
        @extend .align-self-stretch;
        @extend .align-items-center;
        @extend .col;

        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 1;
        animation: slide-left-in 800ms ease-out;
        animation-fill-mode: forwards;       

        &[open] {
          left: 100%;
          animation: slide-left-out 800ms ease-out;
          animation-fill-mode: forwards;
          z-index: 1;
        }

        .logo {
          background-color: $black-opac-80;
          opacity: 1;
        }
      }
    }

    &-text { 
      @extend .d-flex;
      @extend .flex-column;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .col;

      
      background: $red;
      padding: 15px;

      @include media-breakpoint-up(sm) {  }
      @include media-breakpoint-up(md) {  }
      @include media-breakpoint-up(lg) { width: 150px; }
      @include media-breakpoint-up(xl) {  }
    }
    &-title { 
      @extend .d-flex;
      @extend .flex-grow-1;

      font-size: 1.5rem;
      font-weight: 100;
      z-index: 0;
      text-align: center;
    }
  }
}
