.mass-results-container {
  @extend .d-flex;
  @extend .flex-grow-1;
  @extend .col-lg-4;
  @extend .galaxy;

  color: white;
  text-align: left;
  border: solid 1px $white;
  padding: 0px 0 25px 0;
  box-sizing: border-box;
}
.mass-container {
  @extend .d-flex;
  @extend .galaxy;
  @extend .justify-content-center;
  @extend .align-items-center;

  color: $white;
  text-align: left;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 15px transparent, 0 0 0 2px white;
  padding: 8px;
}
.mass-results-container rect {
  fill: white;
}
.mass-results-container svg {
  width: 100%;
  height: 100%;
}
.mass-results-container  .svg-text { 
  font: italic 40px "Star Wars Galaxy"; fill: red;
} 

