.feeds-container {
  text-align: left;
  font-family: 'Star Wars Aurebash';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px;
  font-size: 0.7rem;
  padding: 12px 30px 12px 12px;

  p {
    color:#ffffff;
  }
}
.feeds-container h3{
  color:#A7BFE9;
  font-size: 0.7rem;
}
.feeds-container {
  animation: feed infinite 100s linear;
}
.background-animation-container svg {
}
@keyframes feed {
  0% {  margin-top: 0}
  50% { margin-top: -800px }
  100% {  margin-top: 0}
}

