.height-results-container {
  @extend .galaxy;
  color: white;
  text-align: left;
  padding: 10px;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,0,0,1);
  height: 600px;

  @include media-breakpoint-up(sm) {  }
  @include media-breakpoint-up(md) {  }
  @include media-breakpoint-up(lg) { height: auto; }
  @include media-breakpoint-up(xl) { }
}
.height-results-container .svg-text { 
  font: italic 40px "Star Wars Galaxy"; fill: red;
  transform: rotate(-180deg)
} 
.height-results-container .svg-text-title {
  transform: rotate(90deg);
  font-size: 40px;
}
.height-results-container svg {
  transform: rotate(180deg);
}
.height-results-container rect {
  fill: white;
}
.height-results-container line {
  stroke-width: 2;
  stroke: #A7BFE9;
}
.height-result {
  text-align: center;
}