
.skin-results-container {
  @extend .d-flex;
  @extend .flex-grow-1;
  @extend .col-lg-4;
  @extend .galaxy;

  color: $white;
  text-align: left;
  border: solid 1px $white;
  padding: 0px 0 25px 0;
  box-sizing: border-box;
}
.skin-colour-container {
  @extend .d-flex;
  @extend .galaxy;
  @extend .justify-content-center;
  @extend .align-items-center;

  box-shadow: 
    inset 0 0 10px 15px darken($black, 40%),
    0 0 0 6px rgba(100, 0, 0, 1),
    0 0 0 9px rgba(255, 255, 255, 1);
  color: $white;
  text-align: left;
  height: 100px;
  background-color: $black;
  border-radius: 50%;
  width: 100px;
}
