@import '../../../../styles/partials/app-base.scss'; // bring in main app partials

.btn-arrow { 
  
  @extend .d-flex;
  @extend .align-items-center;

  width: 71px;
  border-radius: 50% 50%;
  border: $page-bg 14px solid;
  padding: 0;
  margin: 0 0 15px 0;
  box-shadow: 0px 0px 5px 5px;
  z-index: 0;

  #arrow-button { // base svg style
    border-radius: 50% 50%;

    .cls-1,.cls-2{
      fill:#fff;
      stroke:#000;
      stroke-miterlimit:10;
    }
    .cls-2{
      stroke-width:7px;
      fill: none;
      transform-origin: center;
    }
  }
  &:hover {

    .cls-2 {
      animation: svg-scale 400ms ease-in;
    }
  }
} 
.btn-arrow.active {
  #arrow-button {
    .cls-2 {
      stroke: green;
    }
  }
}

.btn-link {
  #arrow-button {
    transform: rotate(90deg);
  }
}