@font-face {
	font-family: 'DSDIGI';
	src: url('./fonts/DSDIGI.eot');
  src: local('./fonts/DSDIGI.eot'), 
    url('./fonts/DSDIGI.woff') format('woff'),
    url('./fonts/DSDIGI.ttf') format('truetype');
}
.dsdigi {
  font-family: 'DSDIGI';
}