
.height-results-container {
  @extend .galaxy;
  color: white;
  text-align: left;
  height: 500px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,0,0,1);
}
.height-results-container .svg-text { 
  font: italic 40px "Star Wars Galaxy"; fill: red;
  transform: rotate(-180deg)
} 
.height-results-container .svg-text-title {
  transform: rotate(90deg);
  font-size: 40px;
}
.height-results-container svg {
  transform: rotate(180deg);
}
.height-results-container rect {
  fill: white;
}
.height-results-container line {
  stroke-width: 2;
  stroke: #A7BFE9;
}
.height-result {
  text-align: center;
}
@media only screen and (min-width: 576px) { }

@media only screen and (min-width: 768px) { }

@media only screen and (min-width: 992px) { 
  .height-results-container {
    height: 98%;
  } 
}
@media only screen and (min-width: 1200px) { 
 
}