.eye-results-container {
  @extend .galaxy;
  display: flex;
  color: white;
  text-align: left;
}
.eye-colour-container {
  @extend .galaxy;
  color: white;
  text-align: left;
  height: 100px;
  padding: 15px;
  border: black 10px solid;
  outline: 1px solid white;
  background-color: #000000;
}
