@import '~bootstrap/scss/variables';

/* OVERRIDES OF USEFUL BOOTSTRAP VARIABLES IF REQUIRED */

// Colours
$primary: orange !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$body-bg: #000;
$body-color: #111;

$theme-colors: (
  "primary":  $primary,
  "secondary":  $secondary,
  // "success":    ..,
  // "info":       ..,
  //  "warning":    ..,
  // "danger":     #ff4136,
  // "light":      ..,
  // "dark":       ..
);
// End Colours

/* 
$spacer: 1rem;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions : false;
$enable-grid-classes: true;
$enable-print-styles: true;
*/

/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
*/

/* END OVERRIDES OF USEFUL BOOTSTRAP VARIABLES IF REQUIRED */

/* Add custom here */
