.star-wars {
  height: 100%;
}
.starwars-app {
  text-align: center;
  overflow: hidden;
  background-color: black;
  position: relative;
  overflow: hidden;
  height: 100%;

  input {
    @extend .galaxy;
  }
}

.container-fluid {
  padding: 0px !important;
}


.background-animation-container {
  @extend .d-flex;
  @extend .d-lg-block;

  position: fixed;
  left: 0;
  top: 0px;
  width: 1920px;
  overflow: hidden;
  bottom: 0px;

  @include media-breakpoint-up(sm) { }
  @include media-breakpoint-up(md) {  }
  @include media-breakpoint-up(lg) { 
    position: absolute; 
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    width: auto;
  }
  @include media-breakpoint-up(xl) {  }
}

.starwars-app-header {
  background-color: #222;
  color: white;
}

.starwars-app-title {
  font-size: 1.5em;
}

.starwars-app-intro {
  font-size: large;
}

.centre.container {
  height: 100%;
}

.background-animation-container .cls-1, .background-animation-container .cls-2 {
  fill: none;
  opacity:0.25;
}

.background-animation-container .cls-1 {
  stroke: #fff;
}

.background-animation-container .cls-2 {
  stroke: #fff;
}

.background-animation-container .cls-3 {
  fill: #fff;
}

.background-animation-container .cls-3, .background-animation-container .cls-4 {
  font-size: 5px;
  font-family: Star Wars;
}

.background-animation-container .cls-4 {
  fill: #a7bfe9;
}

.background-animation-container .cls-5, .background-animation-container .cls-7 {
  opacity: 0.5;
}

.background-animation-container .cls-6 {

}

.background-animation-container .cls-7, .background-animation-container .cls-8, .background-animation-container .cls-9 {
  fill: none;
}

.background-animation-container .cls-7, .background-animation-container .cls-8 {
  stroke: #fff;
}

.background-animation-container .cls-3 {
  stroke-width: 2px;
}

.background-animation-container .cls-5 {
  stroke: none;
}

.background-animation-container .cls-10 {
  stroke:red;
  stroke-miterlimit:10;
  stroke-width:2px;
  transform: rotate(45deg);
  transform-origin: -500px 555px;
  animation: spaceship infinite 100s linear;
}
.background-animation-container svg {
  height: auto;
}

.background-animation-container #moon {
  animation: rotate360 infinite 600s linear;
  transform-origin: 50% 50%;
}

.moon-9 {
  stroke-dasharray: 4px 20px;
  stroke: rgba(255,0,0,1);
  stroke-width: 8px;
  animation: rotate360 infinite 100s linear;
  animation-direction: reverse;
  transform-origin: 100px 100px;
}
.ray-1 {
  fill: #7b7bff;
}

.ray-1, .ray-2, .ray-3 {
  stroke: #707070;
  opacity: 0.25;
}

.ray-2 {
  fill: #fff;
}

.ray-3 {
  fill: red;
}

.background-animation-container .cls-6, .background-animation-container .cls-8 {
  opacity: 0.5;
}

.background-animation-container .cls-7 {
  fill: #fff;
  stroke: #707070;
}

.background-animation-container .cls-8, .background-animation-container .cls-9, .background-animation-container .cls-11 {
  fill: none;
}

.background-animation-container .cls-8, .background-animation-container .cls-9 {
  stroke: #fff;
}
#moon {
}
.background-animation-container .cls-8 {
  stroke-width: 50px;
  stroke-dasharray: 5px 20px;
  stroke: rgba(255,0,0,1);
  animation: rotate infinite 200s linear;
  transform-origin: 394px 394px;
}
.background-animation-container .cls-4, .background-animation-container .cls-3 {
  opacity: 0.25;
}

.relative {
  position: relative;
  overflow: hidden;
}

.centre-container {
  margin-top: 10px;
}