@import "./fonts/_font-face.scss";
@import "./fonts/_fonts.scss";
@import "./animations/_keyframes.scss";
@import "./transitions/_page-transitions.scss";
@import "./partials/Starwars-partials.scss";

@import "_Starwars-api.scss";
@import "_Starwars-api-results.scss";
@import "_Starwars-sidebar-left.scss";



.star-wars-title {
  margin: 0px;
}

.people-results-container {
  min-height: 50px;
}
.people-results-container p {
  @extend .galaxy;
  color: white;
  margin: 0px;
  padding: 15px;
}

.people-results-container p:nth-of-type(1) {
  color: rgba(255,0,0,1);
} 
.search-form {
  width: 100%; 
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(255,0,0,1);
  background: #000000;
}
.search-container {
}
.bottom-main-container {
}
.submit-button {
  @extend .galaxy;
  background: #000000;
  border: 1px solid rgba(255,0,0,1);
  color: white;
  transition: background 0.5s;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 10px;
}
.submit-button:hover {
  background: #A7BFE9;
  background-repeat: no-repeat;
  cursor: pointer;
}

.light-board {
  padding: 10px;
  background-color: rgba(255,0,0,0.25);
}
.colors-container {
  border: solid 1px rgba(255,0,0,1);
  min-height: 75px;
  padding: 25px;
  background-color: rgba(255,255,255,0.2);
}
.area-title {
  font: italic 15px "Star Wars Galaxy"; color: #000;
  text-align: center;

}

@media only screen and (min-width: 576px) { }

@media only screen and (min-width: 768px) {
  .people-results-container {
    width: 70%;
  }
  .search-form {
    margin: 0px 0px;
    padding: 20px;
    min-height: auto;
  }
  .centre-main-content-holder {
  }
 }

@media only screen and (min-width: 992px) {
 
  .colors-container {
    height: 100%;
  }
  .search-container {
    width: 200px;
  }
  .centre-main-content-holder {
    padding-left: 0px !important;
  }
}
@media only screen and (min-width: 1200px) { }

@media only screen and (min-width: 1500px) {
  .area-title {
    height: auto;
  }
}