@font-face {
  font-family: 'Star Wars';
  font-style: normal;
  font-weight: 400;
  src: url("~/fonts/starjedi/starjedi.eot");
  /* IE9 Compat Modes */
  src: local("Star Wars"), local("StarWars"), url("~/fonts/starjedi.eot?#iefix") format("embedded-opentype"), url("~/fonts/starjedi.woff2") format("woff2"), url("~/fonts/starjedi.woff") format("woff"), url("~/fonts/starjedi.ttf") format("truetype"), url("~/fonts/starjedi.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Star Wars Aurebash';
  font-style: normal;
  font-weight: 400;
  src: url("~/fonts/aurebesh.eot");
  /* IE9 Compat Modes */
  src: local("Aurebash"), local("Aurebash"), url("~/fonts/aurebesh.eot?#iefix") format("embedded-opentype"), url("~/fonts/aurebesh.woff") format("woff"), url("~/fonts/aurebesh.ttf") format("truetype"), url("~/fonts/aurebesh.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Star Wars Galaxy';
  font-style: normal;
  src: local("Galaxy"), local("Galaxy"), url("~/fonts/starwars/SFDistantGalaxy.ttf") format("truetype"); }

.galaxy, .results-container, .eye-results-container, .eye-colour-container, .height-results-container, .mass-results-container, .skin-results-container, .skin-colour-container, .people-results-container p {
  font-family: 'Star Wars Galaxy'; }

.starwars {
  font-family: 'Star Wars'; }

.aurebash {
  font-family: 'Star Wars Aurebash'; }

.starwars-app {
  text-align: center;
  overflow: hidden;
  background-color: black;
  min-height: 100vh;
  position: relative;
  overflow: hidden; }

.container-fluid {
  padding: 0px !important; }

.background-animation-container {
  position: absolute;
  width: 100%;
  overflow: hidden; }

.starwars-app-header {
  background-color: #222;
  color: white; }

.starwars-app-title {
  font-size: 1.5em; }

.starwars-app-intro {
  font-size: large; }

.centre.container {
  height: 100%; }

.background-animation-container .cls-1, .background-animation-container .cls-2 {
  fill: none;
  opacity: 0.25; }

.background-animation-container .cls-1 {
  stroke: #fff; }

.background-animation-container .cls-2 {
  stroke: #fff; }

.background-animation-container .cls-3 {
  fill: #fff; }

.background-animation-container .cls-3, .background-animation-container .cls-4 {
  font-size: 5px;
  font-family: Star Wars; }

.background-animation-container .cls-4 {
  fill: #a7bfe9; }

.background-animation-container .cls-5, .background-animation-container .cls-7 {
  opacity: 0.5; }

.background-animation-container .cls-7, .background-animation-container .cls-8, .background-animation-container .cls-9 {
  fill: none; }

.background-animation-container .cls-7, .background-animation-container .cls-8 {
  stroke: #fff; }

.background-animation-container .cls-3 {
  stroke-width: 2px; }

.background-animation-container .cls-5 {
  stroke: none; }

.background-animation-container .cls-10 {
  stroke: red;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  transform: rotate(45deg);
  transform-origin: -500px 555px;
  animation: spaceship infinite 100s linear; }

.background-animation-container svg {
  min-height: 100vh; }

@keyframes spaceship {
  from {
    transform-origin: -500px 355px; }
  to {
    transform-origin: 3500px 900px; } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.background-animation-container #moon {
  animation: rotate360 infinite 600s linear;
  transform-origin: 50% 50%; }

@keyframes rotate360 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.moon-9 {
  stroke-dasharray: 4px 20px;
  stroke: red;
  stroke-width: 8px;
  animation: rotate360 infinite 100s linear;
  animation-direction: reverse;
  transform-origin: 100px 100px; }

.ray-1 {
  fill: #7b7bff; }

.ray-1, .ray-2, .ray-3 {
  stroke: #707070;
  opacity: 0.25; }

.ray-2 {
  fill: #fff; }

.ray-3 {
  fill: red; }

.background-animation-container .cls-6, .background-animation-container .cls-8 {
  opacity: 0.5; }

.background-animation-container .cls-7 {
  fill: #fff;
  stroke: #707070; }

.background-animation-container .cls-8, .background-animation-container .cls-9, .background-animation-container .cls-11 {
  fill: none; }

.background-animation-container .cls-8, .background-animation-container .cls-9 {
  stroke: #fff; }

.background-animation-container .cls-8 {
  stroke-width: 50px;
  stroke-dasharray: 5px 20px;
  stroke: red;
  animation: rotate infinite 200s linear;
  transform-origin: 394px 394px; }

.background-animation-container .cls-4, .background-animation-container .cls-3 {
  opacity: 0.25; }

.relative {
  position: relative;
  overflow: hidden; }

.centre-container {
  margin-top: 10px; }

@media only screen and (min-width: 1600px) {
  .starwars-app {
    overflow: hidden;
    height: 100vh; } }

.results-container {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center; }

.results-container p {
  margin: 0px;
  text-align: center; }

.results-container svg {
  max-height: 30px; }

.results-container .circ-1 {
  stroke: white;
  stroke-width: 1; }

.results-container .circ-2 {
  fill: red; }

.results-container .circ-3 {
  fill: white; }

.results-container .bullet-container {
  width: 40px;
  height: 40px; }

.results-container .result-container p {
  color: red; }

.leftbar-container svg {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

.leftbar-container .cls-1 {
  min-height: 100vh;
  width: auto;
  fill: none;
  stroke: red;
  stroke-width: 3px;
  opacity: 50%; }

.leftbar-container .cls-2 {
  min-height: 100vh;
  width: auto;
  fill: rgba(255, 0, 0, 0.5); }

.leftbar-container .cls-3 {
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 2, 10; }

.leftbar-container .cls-4 {
  fill: red; }

.leftbar-container .polygon {
  stroke: red;
  stroke-width: 2;
  fill: rgba(255, 0, 0, 0.25); }

.circular-lights-container {
  box-shadow: 0 0 0 2px red, 0 0 0px 3px black;
  background-color: black;
  margin: 0px; }

.circle-light-container {
  padding: 10px 2px; }

.circle-light-container svg {
  width: 30px;
  padding: 2px; }

.circle-light-container .cls-4 {
  fill: #fff;
  fill-opacity: 0.36; }

.clock-container {
  font-family: 'Star Wars Aurebash';
  color: #A7BFE9;
  margin-bottom: 5px; }

.eye-results-container {
  display: flex;
  color: white;
  text-align: left; }

.eye-colour-container {
  color: white;
  text-align: left;
  height: 100px;
  padding: 15px;
  border: black 10px solid;
  outline: 1px solid white;
  background-color: #000000; }

.feeds-container {
  color: #A7BFE9;
  text-align: left;
  font-family: 'Star Wars Aurebash';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px;
  font-size: 0.7rem;
  padding: 12px 30px 12px 12px; }

.feeds-container h3 {
  color: #ffffff;
  font-size: 0.7rem; }

.feeds-container {
  animation: feed infinite 100s linear; }

.background-animation-container svg {
  min-height: 100vh; }

@keyframes feed {
  0% {
    margin-top: 0; }
  50% {
    margin-top: -800px; }
  100% {
    margin-top: 0; } }

.height-results-container {
  color: white;
  text-align: left;
  height: 500px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid red; }

.height-results-container .svg-text {
  font: italic 40px "Star Wars Galaxy";
  fill: red;
  transform: rotate(-180deg); }

.height-results-container .svg-text-title {
  transform: rotate(90deg);
  font-size: 40px; }

.height-results-container svg {
  transform: rotate(180deg); }

.height-results-container rect {
  fill: white; }

.height-results-container line {
  stroke-width: 2;
  stroke: #A7BFE9; }

.height-result {
  text-align: center; }

@media only screen and (min-width: 992px) {
  .height-results-container {
    height: 98%; } }

.mass-results-container {
  display: flex;
  color: white;
  text-align: left; }

.mass-results-container rect {
  fill: white; }

.mass-results-container svg {
  width: 100%; }

.mass-results-container .svg-text {
  font: italic 40px "Star Wars Galaxy";
  fill: red; }

.random-letters-container {
  font-family: 'Star Wars Aurebash';
  color: #A7BFE9;
  margin-bottom: 5px; }

.select-lang-container button {
  color: #A7BFE9;
  border: 1px solid #ffffff;
  background: rgba(123, 123, 255, 0.8);
  padding: 3px 9px;
  margin-bottom: 5px; }

.select-lang-container p {
  color: #ffffff; }

.skin-results-container {
  color: white;
  text-align: left;
  display: flex; }

.skin-colour-container {
  color: white;
  text-align: left;
  height: 100px;
  padding: 15px;
  border: black 10px solid;
  outline: 1px solid white;
  background-color: #000000; }

.svg-lines-container .cls-1 {
  stroke: #A7BFE9;
  stroke-width: 2;
  stroke-dasharray: 2, 10, 2, 12, 3, 17, 7, 5, 6, 1, 10,  8;
  animation: moveUp2 infinite 20s linear; }

.svg-lines-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

.svg-lines-container .cls-2 {
  stroke: #ff2a2a;
  stroke-width: 4;
  stroke-dasharray: 0, 14, 6, 5, 7, 17, 3, 12, 2, 10,  2;
  animation: moveUp infinite 20s linear; }

@keyframes moveUp {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-500px); }
  100% {
    transform: translateY(0); } }

@keyframes moveUp2 {
  0% {
    transform: translateY(0); }
  60% {
    transform: translateY(-400px); }
  100% {
    transform: translateY(0); } }

.people-results-container {
  min-height: 50px; }

.people-results-container p {
  color: white;
  margin: 0px;
  padding: 15px; }

.people-results-container p:nth-of-type(1) {
  color: red; }

.search-form {
  width: 100%;
  min-height: 20vh;
  padding: 10px;
  margin: 10px;
  border: 1px solid red;
  background: #000000; }

.search-container {
  margin-top: 2vh; }

.submit-button {
  background: #000000;
  border: 1px solid red;
  color: white;
  transition: background 0.5s;
  background-repeat: no-repeat; }

.submit-button:hover {
  background: #A7BFE9;
  background-repeat: no-repeat;
  cursor: pointer; }

.light-board {
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.25); }

.colors-container {
  border: solid 1px red;
  min-height: 75px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.2); }

.area-title {
  font: italic 20px "Star Wars Galaxy";
  color: #000;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .people-results-container {
    width: 70%; }
  .search-form {
    margin: 0px 0px;
    padding: 20px;
    min-height: auto; }
  .centre-main-content-holder {
    margin-top: 2vh; } }

@media only screen and (min-width: 992px) {
  .colors-container {
    padding: 10px;
    margin: 0px 0px;
    height: 38%; }
  .search-container {
    width: 200px; }
  .centre-main-content-holder {
    padding-left: 0px !important; }
  .area-title {
    height: 65px; } }

@media only screen and (min-width: 1200px) {
  .centre-main-content-holder {
    height: 69vh; } }

@media only screen and (min-width: 1500px) {
  .area-title {
    height: auto; } }
