@font-face {
  font-family: 'Star Wars';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/starjedi/starjedi.eot'); /* IE9 Compat Modes */
  src: local('Star Wars'), local('StarWars'),
       url('../fonts/starjedi/starjedi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/starjedi/starjedi.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/starjedi/starjedi.woff') format('woff'), /* Modern Browsers */
       url('../fonts/starjedi/starjedi.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/starjedi/starjedi.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Star Wars Aurebash';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aurebesh/aurebesh.eot'); /* IE9 Compat Modes */
  src: local('Aurebash'), local('Aurebash'),
       url('../fonts/aurebesh/aurebesh.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/aurebesh/aurebesh.woff') format('woff'), /* Modern Browsers */
       url('../fonts/aurebesh/aurebesh.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/aurebesh/aurebesh.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Star Wars Galaxy';
  font-style: normal;
  src: local('Galaxy'), local('Galaxy'),
       url('../fonts/SFGalaxy/SF-Distant-Galaxy.ttf') format('truetype'), /* Safari, Android, iOS */
}