@import '../../../../styles/partials/app-base.scss'; // bring in main app partials

#WordpressLogo {
      animation: scrollLeftRight 25000ms infinite ease-in-out;
      position: absolute;
      z-index: 0;
      height: 96%;
      top: 2%;
      bottom: 2%;
      left: 2%;
      right: 2%;
      width: 96%;
}

.wordpress {

    &-logo {
      fill:#464342; 
      animation: rotateY130Wordpress infinite 25000ms ease-in-out;
      transform-origin: 60px 60px;

      &-shape { }

      &-color {
        &-0 {
          fill:#00749A;
          animation: scaleY-1 infinite 25000ms ease-in-out;
          transform-origin: center;
        }
        &-1 {
          animation: scaleY-2 infinite 25000ms ease-in-out;
          transform-origin: center;
          fill: #464342; 
        }
      }
    }
    &-text {
    }
  }


  
