.star-wars-appear {}
.star-wars-active-appear {}
.star-wars-done-appear {}

.star-wars-enter {

}

.star-wars-enter-done {

}

.star-wars-enter, .star-wars-enter-active {
  animation: opacity-in 750ms ease-in;
}

.star-wars-exit {
}

.star-wars-exit, .star-wars-exit-active {
  animation: opacity-out 250ms ease-in;
} 


 