// Main Nav Routing

.wp-page {

  &.item-appear {}
  &.item-active-appear {}
  &.item-done-appear {}

  &.item-enter {

  }

  &.item-enter.item-enter-active {
    animation: opacity-in 400ms ease-in;
  }

  &.item-exit {
    opacity: 0
  }

  &.item-exit.item-exit-active {
    position: absolute;
    animation: opacity-out 400ms ease-in;
  }

  
  @include media-breakpoint-up(sm) {  }
  @include media-breakpoint-up(md) {  }
  @include media-breakpoint-up(lg) {   
    &.item-appear {}
    &.item-active-appear {}
    &.item-done-appear {

    }

    &.item-enter {
      opacity: 1;
    }

    &.item-enter.item-enter-active {
      animation: opacity-in 400ms ease-in;
      opacity: 1;
    }

    &.item-exit {
      opacity: 0;
    }

    &.item-exit.item-exit-active {
      animation: opacity-out 400ms ease-in;
      opacity: 0;
    } 
  }
  @include media-breakpoint-up(xl) {  }
}


