@import '../../../styles/partials/app-base.scss'; // bring in main app partials

// Main Base
@import 'partials/app-base.scss';

// Nav and Router
// @import 'components/router.scss';
// @import 'components/main-nav.scss';

// Components 
@import "components/_header";
@import "components/_footer";

// Animations and transitions

.wordpress { 
  p {
    color: $black;
  }

  &-container {
  }

  &-section {
    @extend .col-12;

    &-title {
    }
  }

  &-products {
    @extend .d-flex;

    background: $black-opac-20;

    &-body {
      @extend .d-flex;
      @extend .flex-column;
      @extend .flex-md-row;
    }

    &-description {
      @extend .col-sm-12;
      @extend .col-md-6;
    }

    &-image {
      @extend .col-sm-12;
      @extend .col-md-6;

      img {
        width: 100%;
      }
    }

    &-footer {
      @extend .d-flex;
      @extend .align-content-center;
      @extend .justify-content-center;

      padding: 50px;
    }
  }

  &-posts {
    @extend .d-flex;
  }

  &-pages {
    @extend .d-flex;
  }

  .btn {
    line-height: 1rem;

    &-page {
      border: 1px solid theme-color('gray');
      padding: 2px 5px 5px 5px;
      border-radius: 0;


      &:hover {
        background-color: theme-color('hover');
        color: theme-color('white');
      }
    }
  }
}
