.home-item-image-top {
  &.slide-appear {}
  &.slide-active-appear {}
  &.slide-done-appear {}

  &.slide-enter {
    left: -100vw;
    opacity: 1;
  }

  &.slide-enter.slide-enter-active {
    left: -100vw;
    opacity: 1;
    animation: page-slide-horz 1000ms ease-in;
  }

  &.slide-exit {
    left: 100vw;
    opacity: 1;
  }

  &.slide-exit.slide-exit-active {
    animation: page-slide-horz-out 1000ms ease-in;
  } 
}