#Blender-Logo {

}

#blender_logo_socket {
  .cls-1{fill:#fff;}
  .cls-2,.cls-4{fill:#265787;}
  .cls-3{fill:#e87d0d;}
  .cls-4{isolation:isolate;font-size:24.42px;font-family:OpenSans-Bold, Open Sans;font-weight:700;}
}


