@keyframes rotate360 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spaceship {
  0% { transform-origin: -500px -300px; }
  100% { transform-origin: 2500px 900px; }
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes opacity-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes opacity-out {
  from { opacity: 1 }
  to { opacity: 0 }
}