@keyframes page-slide-horz {
  0% {transform: translateX(-100vw)}
  80% {transform: translateX(0vw)}
  90% {transform: translateX(-2vw)}
  100% {transform: translateX(0vw)}
}
@keyframes page-slide-horz-out {
  0% {transform: translateX(0vw)}
  80% {transform: translateX(100vw)}
  100% {transform: translateX(100vw)}
}

@keyframes opacity-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes opacity-out {
  from {opacity: 1}
  to {opacity: 0}
}

@keyframes slide-toggle-horz {
  from {}
  to {transform: translate(250px, 0px)}
}

@keyframes slide-toggle-horz-out {
  from {}
  to {transform: translate(0px, 0px)}
}

@keyframes color-success {
  0% {}
  100% {fill: theme-color("success")}
}


