@import '../../../../styles/partials/app-base.scss'; // bring in main app partials

#starwars-bg {
  position: absolute;
  z-index: 0;
  height: 100%;
 

  #background {
    animation: rotateY130 100000ms infinite ease-in;
    transform-origin: 159.3px 69.3px;
    transform: scale(0.2);
  }
  

  #circles {
    animation: rotate360 50000ms linear infinite reverse;
    transform-origin: 159.3px 69.3px;
  }

  .cls-1,.cls-7,.cls-8,.cls-9, .cls-10, .cls-11{
    fill:none;
  }

  .cls-2{clip-path:url(#clip-path);}

  .cls-3{
    stroke-dasharray:10 20 12 25 15 30 10 8 63;
    stroke-linecap: round;
    animation: rotate360 500000ms linear infinite;
    animation-direction: reverse;
    transform-origin: 159.3px 69.3px;
    opacity:0.25;
  }
  .cls-4{
    fill:$white;
    opacity: 0.75;
  }
  
  .cls-5,.cls-7,.cls-8{
    opacity:0.8;
    
  }
  .cls-6{
    stroke:$green;
    fill:transparent;
    stroke-width: 30px;
    stroke-dasharray:1px 2000px;
    stroke-linecap: round;
    animation: rotate360 500000ms linear infinite;
    animation-direction: reverse;
    transform-origin: 159.3px 69.3px;
    transform: scaleX(0.5);
  }
  .cls-7,.cls-8{
    stroke:#fff;
  }
  .cls-7,.cls-8,.cls-9{
    stroke-miterlimit:10;
  }
  .cls-7{
    stroke-width: 10px;
    stroke-dasharray:0 75 19;
    stroke-linecap: round;
    animation: rotate360 20000ms linear infinite;
    transform-origin: 159.3px 69.3px;
  }
  .cls-8{
    stroke-width:0.5px;
  }
  .cls-9{
    stroke:#0071bc;
    stroke-width: 3px;
    stroke-dasharray:200 62 19;
    animation: rotate360 45000ms linear infinite;
    transform-origin: 159.3px 69.3px;
  }
  .cls-10 {
    stroke:$orange;
    stroke-width: 3px;
    fill: $black;
  }

  .cls-11 {
    stroke:#0071bc;
    stroke-width: 18px;
    stroke-dasharray:10 200 125;
    animation: rotate360 25000ms linear infinite;
    transform-origin: 159px 69px;
    animation-direction: reverse;
  }

  .cls-12{
    stroke: $white-opac-80;
    fill: transparent;
    stroke-width: 15px;
    stroke-dasharray: 0px 391px;
    animation: rotate360 30000ms linear infinite;
    stroke-linecap: round;
    transform-origin: 159px 69px;
  }
  .cls-13{
    stroke: rgba(43, 22, 22, 1);
    fill: transparent;
    stroke-width: 5px;
    stroke-dasharray: 0px 391px;
    animation: rotate360 30000ms linear infinite;
    stroke-linecap: round;
    transform-origin: 159px 71px;

  }
  .cls-14{
    stroke: $white;
    fill: transparent;
    stroke-width: 4px;
    stroke-dasharray: 0px 391px;
    animation: rotate360 30000ms linear infinite;
    stroke-linecap: round;
    transform-origin: 159px 71px;
  }
}