.footer {
  @extend .flex-lg-grow-1;

  z-index: 1;
  background: $white;

  &-social {
    @extend .d-flex;
    @extend .justify-content-around;
    @extend .flex-wrap;
   
    padding-left: 0px;
    padding-right: 0px;

    .btn-social {
      padding: 20px;
    }
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}