@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.header {
 

  &-wrapper {
    @extend .flex-lg-grow-1;
    
    z-index: 1;
    background-color: theme-color("primary");
  }
}