main {
  padding-bottom: 10px;
  min-height: 500px;

  @include media-breakpoint-up(sm) {  }
  @include media-breakpoint-up(md) {  }
  @include media-breakpoint-up(lg) { 
    @extend .flex-lg-grow-1;
  }
  @include media-breakpoint-up(xl) {  }
}