// Nav Routing
.transition-group {
  position: relative;
  overflow: hidden;
  height: 100%;
  

  @include media-breakpoint-up(sm) {  }
  @include media-breakpoint-up(md) {  }
  @include media-breakpoint-up(lg) {  }
  @include media-breakpoint-up(xl) {  }
}

.route-section {
  position: block;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 
  @include media-breakpoint-up(sm) {  }
  @include media-breakpoint-up(md) {  }
  @include media-breakpoint-up(lg) {  }
  @include media-breakpoint-up(xl) {  }
}
