@keyframes svg-fill {
  0% {}
  50% {}
  100% {fill: $home-dark}
}

@keyframes svg-scale {
  0% {}
  25% {transform: scale(0.6)}
  50% {transform: scale(1.2)}
  75% {transform: scale(0.8)}
  100% {transform: scale(1)}
}

@keyframes slide-left-in {
  0% {left: 100%}
  100% {left: 0}
}

@keyframes slide-left-out {
  0% {left: 0}
  100% {left: 100%}
}

@keyframes rotate360 {
  0% {}
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateY130 {
  0% {opacity: 0}
  18% {opacity: 1}
  50% {transform: rotate3d(0, 1, 0.5, 3.142rad) scale(2.5) translateX(75px)}
  82% {opacity: 1}
  100% {opacity: 0}
}

@keyframes scrollLeftRight {
  0% {}
  10% {transform: scale(1) }
  30% {transform: scale(2) translateX(80%)}
  50% { }
  70% {transform: scale(2)  translateX(-80%)}
  90% {transform: scale(1) } // rest animation
  100% {}
}
@keyframes rotateY130Wordpress {
  0% {}
  30% {transform: rotateY(0deg) }
  50% {transform: rotateY(720deg) }
  70% {transform: rotateY(0deg) }
  89% {fill: #464342 }
  90% {fill: white }
  94% {fill: white }
  95% {fill: #464342 }
  100% {}
}

@keyframes scaleY-1 {
  0% {}
  91% {transform: scaleY(1)}
  91.5% {transform: scaleY(1.5) }
  92% {transform: scaleY(1)}
  100% {}
}

@keyframes scaleY-2 {
  0% {}
  92% {transform: scaleY(1)}
  92.5% {transform: scaleY(1.5)}
  93% {transform: scaleY(1)}
  100% {}
}

@keyframes follow {
  0% {}
  50% {
    stroke-dasharray: 300% 0;
  }
  100% {}
}

@keyframes blenderLogo {
  22% {transform: rotateZ(0deg)}
  50% {
    transform: rotateZ(360deg);
  }
  78% {transform: rotateZ(0deg)}
}

@keyframes blenderSqueeze {
  0% {transform: translateX(0px);}
  30% {transform: translateX(0px)}
  35% {transform: translateX(100px)}
  45% {transform: translateX(0px);}
  58% {transform: translateX(0px);}
  65% {transform: translateX(100px)}
  70% {transform: translateX(0px);}
}