// use imports inside this class to wrap all component css with component named class
// Main Base

@import 'partials/app-base.scss';
@import 'fonts/_font-face.scss';

@import 'svgs/career-dial.scss';

// Nav and Router
// @import 'components/router.scss';
// @import 'components/main-nav.scss';

// Components 
@import "components/_header";
@import "components/_footer";

// Animations and transitions
@import 'animations/_keyframes.scss';
// @import 'transitions/_page-transitions';

.formula-one { 
  @extend .d-flex;
  @extend .dsdigi;
  background-color: $black;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80vh;
  text-align: center;

  .area-title {
    color:$white;
  }

  .cls-24, .cls-25, .cls-26, .cls-18 {
    
  }

  .light-off {
    opacity: 0.25;
  }

  

  input[type="text"] {
    @extend .dsdigi;
    font-size:24px;
    background-color: green;
    border: none;
  }

  input[type="submit"] {
    @extend .dsdigi;
      font-size:24px;
      background-color: orange;
      color: $white;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-left: 20px;

      &:hover {
        cursor: pointer;
        background-color: red;
      }
      
  }

  &-container {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-center;
  }

  form {
    margin: 0 auto;
  }
}
