#BlenderBG { 
  #blender_logo_socket {
    .cls-1{
      fill:none;
    }
    .cls-2,.cls-4{
      fill:#265787;
      
    }
    #blender-text {
      .cls-2 {
        animation: blenderSqueeze infinite 10000ms ease-in-out;
        transform-origin: 234px 262px;
      }
    }
    .cls-3{
      fill:#e87d0d;
      animation: blenderLogo infinite 10000ms ease-in-out;
      transform-origin: 234px 262px;
    }
    .cls-4{
      isolation:isolate;
      font-size:24.42px;
      font-family:OpenSans-Bold,
      Open Sans;font-weight:700;
    }
  }
}




