.results-container {
  @extend .galaxy;
  color: white;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,0,0,1);
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
.results-container p {
  margin: 0px;
  text-align: center
}
.results-container svg {
  max-height: 30px;
}
.results-container .circ-1 {
  stroke: white;
  stroke-width: 1;
}
.results-container .circ-2 {
  fill: red;
}
.results-container .circ-3 {
  fill: white;
}
.results-container .bullet-container {
  width: 40px;
  height: 40px;
}
.results-container .result-container p {
  color: rgba(255,0,0,1);
}

@media only screen and (min-width: 576px) { }

@media only screen and (min-width: 768px) { }

@media only screen and (min-width: 992px) { }

@media only screen and (min-width: 1200px) { }