
@import '~bootstrap/scss/buttons';

/* OVERRIDES OF USEFUL BOOTSTRAP VARIABLES IF REQUIRED */
.btn {
  box-shadow: none;
  padding: 0px;
}
.btn:focus { 
  box-shadow: none;
}

.btn-primary {
  border: none;
  background-color: transparent;
}
.btn-primary:hover{
  border: none;
  background-color: transparent;
};
  
.btn-primary:focus,
.btn-primary.focus{
  box-shadow: transparent;
  background-color: transparent;
}
.btn-primary.disabled,
.btn-primary:disabled{
  border: none;
  background-color: transparent;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle{
  border: none;
  background-color: transparent;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus{
  box-shadow: none;
  background-color: transparent;
}

.btn-outline-primary{
  background-color:none;
  background-image:none;
  border: none;
}
.btn-outline-primary:hover{
  border: none;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus{
  border: none;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled{
  background-color:none
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle{
  border: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus{
  box-shadow: transparent;
}

/* END OVERRIDES OF USEFUL BOOTSTRAP VARIABLES IF REQUIRED */

/* Add custom here */
button {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.btn-social {
  @extend .btn;
}
