@import '~bootstrap/scss/navbar';
@import '../../components/svgs/nav-toggle01/toggle-nav-01.scss'; // for svg base

.navbar-light .navbar-nav .nav-link {
  color: theme-color('menu-link')
}

.navbar {
  position: initial;
}

.nav-link {
  color: theme-color('menu-link');

  @include media-breakpoint-up(sm) {  }
  @include media-breakpoint-up(md) {  }
  @include media-breakpoint-up(lg) { color: theme-color('menu-link'); }
  @include media-breakpoint-up(xl) {  }
}

.mobile-nav {
  @extend .d-lg-none;
  @extend .d-xl-none;
}

.desktop-nav {
  @extend .d-none;
  @extend .d-sm-none;
  @extend .d-md-none;
  @extend .d-lg-block;
  @extend .d-xl-block;
}

// nav toggler
.navbar-toggler {
  width: 100px;
  border: none;

  .circle-slide-container {
    background-color: theme-color('gray');
    border-radius:  50px;
    box-shadow: inset 0px 0px 5px theme-color('black');
  }
  .cls-1{fill:none;}
  .cls-1,.cls-2{
    stroke: theme-color('gray');
    stroke-miterlimit:10;}
  .cls-2{fill:theme-color('white')}
  .cls-3{fill:theme-color('gray')}

  &[aria-expanded='false'] {
    #button {
      transition: transform 200ms ease-out;
      transform: translate(0px, 0px);
    }
   
    #arrow_left {
      transition: fill 200ms ease-out;
      animation: color-success 400ms ease-in;
      animation-fill-mode: forwards;
    }
    #arrow_right {
      fill: $black-opac-20;
    }
  }

  &[aria-expanded='true'] {

    #button {
      transition: all 200ms ease-in;
      transform: translate(260px, 0px);
    }

    #arrow_left {
      fill: $black-opac-20;
    }
    #arrow_right {
      transition: fill 200ms ease-out;
      animation: color-success 400ms ease-in;
      animation-fill-mode: forwards;
    }
  }
}

// override bootstrap collapse, Mobile Nav
.navbar-collapse {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 440px;
  left: -480px;
  top: 0;
  transition: left 500ms ease-out;
  transition-delay: 100ms;
  z-index: 20;
  background-color: theme-color('menu-primary');
  padding: 20px;

  .navbar-brand {
    
      color: theme-color('menu-link')
    
  }

  .nav-item {
    .nav-link {
      color: theme-color('menu-mobile-link');
      border-bottom: 1px solid theme-color('border');
    } 
  }

  @include media-breakpoint-up(sm) {  }
  @include media-breakpoint-up(md) {  }
  @include media-breakpoint-up(lg) {  }
  @include media-breakpoint-up(xl) {  }
}



// see components/main-nav.scss
.collapse:not(.show) {
  display: block;
  position: absolute;
  height: initial;
  left: -480px;
  top: 0;
}

.collapsing {
  display: block;
  position: absolute;
  height: initial;
}

.navbar-collapse.show {
  display: block;
  transition: left 500ms ease-out;
  left: 0;
  top: 0;
  background-color: theme-color('menu-primary');
  z-index: 20;
  height: 100%;

  @include media-breakpoint-up(sm) {  }
  @include media-breakpoint-up(md) {  }
  @include media-breakpoint-up(lg) {  }
  @include media-breakpoint-up(xl) {  }
}
// End override bootstrap collapse