@import '~bootstrap/scss/variables';

/* OVERRIDES OF USEFUL BOOTSTRAP VARIABLES */

// Colours
$primary: $dark;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

// semi transparent
$white-opac-80: rgba(255,255,255,0.8);
$white-opac-60: rgba(255,255,255,0.6);
$white-opac-40: rgba(255,255,255,0.4);
$white-opac-20: rgba(255,255,255,0.2);
$white-opac-10: rgba(255,255,255,0.1);

$black-opac-80: rgba(0,0,0,0.8);
$black-opac-60: rgba(0,0,0,0.6);
$black-opac-40: rgba(0,0,0,0.4);
$black-opac-20: rgba(0,0,0,0.2);
$black-opac-10: rgba(0,0,0,0.1);

// menus
$menu-primary: $white;
$menu-secondary: $black-opac-80;
$menu-link:  $white;
$menu-mobile-link: $black-opac-80;;

$hover: $gray-600;

// flat colours
$white: #fff;
$black: #000;
$red: #ff1e00;

// element styling
$body-bg: $black;
$body-color: $dark;

// borders
$border: $gray-600;

// typography
$text: $white;
$title: $gray-800;;

// theme
$theme-colors: (
  "primary":  $primary,
  "secondary":  $secondary,
  // "success":    ..,
  // "info":       ..,
  //  "warning":    ..,
  // "danger":     #ff4136,
  // "light":      ..,
  // "dark":       ..,
  "white":  $white,
  "black":  $black,
  "gray":  $gray-500,
  "menu-primary":  $menu-primary,
  "menu-secondary":  $menu-secondary,
  "menu-link":  $menu-link,
  "menu-mobile-link":  $menu-mobile-link,
  "hover": $hover,
  "text": $text,
  "title": $title,
  "border": $border,
);

/* 
$spacer: 1rem;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions : false;
$enable-grid-classes: true;
$enable-print-styles: true;
*/

/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
*/

/* END OVERRIDES OF USEFUL BOOTSTRAP VARIABLES IF REQUIRED */

/* Add custom here */
