#careerDial {
	margin: 0 auto;
	flex: 1;

	@include media-breakpoint-up(sm) {  }
  @include media-breakpoint-up(md) { height: 60vh }
  @include media-breakpoint-up(lg) {  }
  @include media-breakpoint-up(xl) {  }

	
	
	#arrow {
		transform: rotate(0deg);
		transform-origin: 253px 363px;
	}
	
	.cls-1, .cls-10, .cls-12, .cls-20, .cls-5 {
		fill: none;
	}

	.cls-2, .cls-21, .cls-5 {
		stroke: $white;
	}

	.cls-10, .cls-11, .cls-12, .cls-2, .cls-20, .cls-21, .cls-5, .cls-7 {
		stroke-miterlimit: 10;
	}

	.cls-3, .cls-4, .cls-6 {
		font-size: 92.64px;
	}

	.cls-3 {
		fill: #4d4d4d;
	}

	.cls-22, .cls-27, .cls-3, .cls-4, .cls-6, .cls-8, .cls-9 {
	  @extend .dsdigi;
	}

	.cls-18, .cls-4, .cls-9 {
		fill: red;
	}

	.cls-13, .cls-6, .cls-8 {
		fill: #666;
	}

	.cls-7 {
		stroke: #1a1a1a;
	}

	.cls-20, .cls-7 {
		stroke-width: 0.75px;
	}

	.cls-8, .cls-9 {
		font-size: 125.65px;
	}

	.cls-9 {
		text-align: right;
	}

	.cls-10, .cls-11 {
		stroke: #ccc;
	}

	.cls-10, .cls-11, .cls-21 {
		stroke-width: 0.5px;
	}

	.cls-11 {
		fill: #ccc;
	}

	.cls-12 {
		stroke: blue;
		stroke-width: 49px;
		stroke-dasharray: 24.54 0.98;
	}
	.cls-13 {
		&:hover {
			fill: orange;
			cursor: pointer;
		}
	}
	.cls-14 {
		fill: blue;
	}

	.cls-15 {
		fill: url(#rad-grad-1) #447799;
	}

	.cls-16 {
	
	}

	.cls-17 {
		fill: #e6e6e6;
	}

	.cls-19 {
		fill: #f2f2f2;
	}

	.cls-20 {
		stroke: #b3b3b3;
	}

	.cls-21 {
		fill: #fff;
	}

	.cls-22 {
		font-size: 21px;
		fill: white;
	}

	.cls-23 {
		fill: lime;
	}

	.cls-24 {
		fill: #009245;
	}

	.cls-25 {
		fill: #fcee21;
	}

	.cls-26 {
		fill: #f7931e;
	}

	.cls-27 {
		font-size: 12px;
	}

	.opacity-5 {
		opacity: 0.5;
	}
	.opacity-1 {
		opacity: 1;
	}

	#display-front-2, #display-front {
		fill: url(#glass-gradient) #447799;
	}

	#display-bg-2, #display-bg-1, #display-bg-3 {
		fill: url(#lcd-bg) #447799;
	}


}