@import '../../../wordpress.scss'; // bring in main app partials

.wp-products {

  &-header {
    color: theme-color("black");
  }

  &-container {
  }
  
  &-description {
    color: theme-color("black");
  }
}

.products {
  &-container {
    @extend .d-md-flex;
  }
  &-info {
    @extend .col-12;
    @extend .col-md-6;
  }
  &-image-container {
    @extend .col-12;
    @extend .col-md-6;
    
    img {
      max-width: 100%;
      height: auto;
    }
  }
}