@import '../../../wordpress.scss'; // bring in main app partials
@import '../../partials/app-base.scss'; // bring in main app partials

.wp-product {
  
  .wordpress-product {
    @extend .d-flex;
  }
 
  &-header {
  }

  &-image-container {
    max-width: 100%;
    height: auto;

    img {
      width: 100%;
    }
  }

  &-description-holder {

    ul {
      @extend .d-flex;
      @extend .flex-wrap;
      padding-inline-start: 0px;

      li {
        list-style: none;
      }
    }

    figure {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }

    img {
      width: 100%;
    }
  }

  

  &-main {
  }

  &-wrapper {
    @extend .d-flex;
    @extend .flex-wrap;


    .wp-product-container {
      @extend .col-12;
      @extend .col-md-6;
    }
  }
  
  .star-rating {
    width: 50px;
    height: 50px;
  }
}