@import '../../../wordpress.scss'; // bring in main app partials

.postlist {
  &-container {
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-sm-row;
  }
  &-item {
    @extend .col-12;
    @extend .col-sm-6;
    @extend .flex-grow-1;
  }
  &-content {

    .link-more {
      display: none;
    }

  }
}