@import '../../../wordpress.scss'; // bring in main app partials

.wp-post {
  @extend .d-flex;
  width: auto;
  
  &-container {

  }

  &-header {
    @extend .col-sm-6;
    @extend .flex-grow-1;

    &-details {
    }
  }
  
}