// @import '~bootstrap/scss/variables';

// matching bootstrap $vars with component name prefixs

// Colours

$home-primary:  $gray-800 !default;
$home-secondary: $gray-400 !default;
$home-success: $green !default;
$home-info: $cyan !default;
$home-warning: $yellow !default;
$home-danger: $red !default;
$home-light: $gray-100 !default;
$home-dark: $gray-800 !default;

$home-body-bg: #000;
$home-body-color: #111;


// End Colours

/* Add custom here */
$page-bg: $black-opac-40;


// override bootstrap and main app colors
$theme-colors: (
  "primary":  $home-primary,
  "secondary":  $secondary,
  // "success":    ..,
  // "info":       ..,
  // "warning":    ..,
  //"danger":     #ff4136,
  // "light":      ..,
  // "dark":       ..,
);