// use imports inside this class to wrap all component css with component named class
// Main Base

@import 'partials/app-base.scss';

// Nav and Router
// @import 'components/router.scss';
// @import 'components/main-nav.scss';

// Components 
@import "components/_header";
@import "components/_footer";

// Animations and transitions
@import 'animations/_keyframes.scss';
// @import 'transitions/_page-transitions';

.blender { 
  p {
    color: $black;
  }
}
